.kajabi-admin-offers {
  padding: 1em;

  &__loading {
    display: flex;
    justify-content: center;
    padding: 2em;
  }

  &__error {
    max-width: 600px;
    margin: 2em auto;
    text-align: center;
  }

  &__table {
    margin-top: 1em;
    width: 100%;
    overflow-x: auto;
  }

  &__empty {
    max-width: 600px;
    margin: 2em auto;
    text-align: center;
  }
}
